input, label {
    display: block;
}

input {
    margin-bottom: 1rem;
}
button[type="reset"] {
    margin-left: .5rem;
}


table {
    width: 500px;
    border-collapse: collapse;
    margin-top: 1rem;
}
th, td {
    border: 1px solid;
}
tr td:last-child {
    white-space: nowrap;
}
td button:first-child {
    margin-right: .5rem;
}
