.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
}



.menu {
    margin-bottom: 1rem;
}
.menu button {
    margin-right: .5rem;
}