<div class="menu">
  <button (click)="changeMenu(menu.USERS)">Používatelia</button>
  <button (click)="changeMenu(menu.BOOKS)">Knihy</button>
  <button (click)="changeMenu(menu.BORROWINGS)">Výpožičky</button>
</div>


<div class="header">
  <h1>DveStodola</h1>
</div>

<ng-container *ngIf="actualMenu === menu.USERS">

  <h3>Používatelia</h3>
  <router-outlet></router-outlet>

</ng-container>


<ng-container *ngIf="actualMenu === menu.BOOKS">

  <h3>Knihy</h3>

</ng-container>


<ng-container *ngIf="actualMenu === menu.BORROWINGS">

  <h3>Výpožičky</h3>

</ng-container>